extends ../layouts/common

block content
    h1 
      span.mr-3 Product

    .d-flex.align-items-center 
        form(method="GET",class="d-flex",style="margin-left: auto;")
            input(type="text",name="q",class="form-control")
            button(class="btn btn-primary",style="margin-left:10px") Search
    .div(style="display: grid;grid-template-columns: repeat(12, minmax(0, 1fr));gap: 1rem;")        
        each product in products       
            .div(style="grid-column: span 3 / span 3;")
                .card
                    img.card-img-top(src= product.image ,alt='Card image cap')
                    .card-body
                        h5.card-title= product.name
                        p.card-text= product.description
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart